.coursecontainer{
    /* background-color: blue; */
    font-family: "Inter", sans-serif;
  background: #f9f9f9;
  padding: 20px;
}


.weekbutdiv{
    display: flex;
  justify-content: start;
  margin-bottom: 30px;
}


.weekbut{
    background: #164626;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    margin-bottom: 20px;
  }
  
  .page-btn,
  .nav-btn {
    padding: 8px 12px;
    border: none;
    background: #eee;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .page-btn.active {
    background: #f18326;
    color: white;
  }

  .coursescontent{
    display: flex;
  gap: 20px;
  justify-content: center;
  }


  .learsoncard{
    width: 60%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .lesson-info {
    font-size: 14px;
    color: #888;
  }
  
  .lesson-title {
    font-size: 22px;
    font-weight: bold;
  }
  
  .facilitator {
    font-size: 14px;
    color: #555;
  }


  .courseimgcontainer{
    
        position: relative;
        width: 100%;
        height: auto;
        margin: 10px 0;
      
  }


  .courseimgvid{
    width: 100%;
  border-radius: 8px;
  }


  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  .play-btn1{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background: gray;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;

  }




  .playbutdiv{
    display: flex;
    gap: 20px;
  }


  .play-btn2{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background: gray;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  .supplementary {
    margin-top: 15px;
  }

  .file-container {
    display: flex;
    align-items: center;
    /* background: #f3f3f3; */
    padding: 8px;
    border-radius: 5px;
    /* justify-content: space-between; */
    column-gap: 40px;
  }


  .pdf-icon {
    font-size: 20px;
    width: 50px;
    color: red;
  }
  
  .file-name {
    flex: 1;
    font-size: 14px;
    color: #555;
    padding-left: 8px;
  }
  
  .download-btn {
    background: #f18326;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .about-topic {
    margin-top: 20px;
  }
  
  .about-topic h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .about-topic p {
    font-size: 14px;
    color: #555;
  }


  .task-card {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 30%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 500px;
  }

  .task-card h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .task-card p {
    font-size: 14px;
    color: #555;
  }


  ..task-card label {
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
    display: block;
  }
  
  .task-card input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }

  .tasksubbut{
    position: absolute;
    background: #f18326;
  color: white;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  right: 5px;
  }
  
  
  